@import 'inc/vars';
@import 'inc/mixins';

* {
	box-sizing: border-box;
	padding: 0; margin: 0;
}

html, body {
	width: 100%; height: 100%;
}

body {
	display: grid;
	grid-template-columns: 225px 200px auto;

	overflow-x: hidden;

	font-family: Roboto, Arial, sans-serif;
	font-size: 0;
}

body.no-js {
	display: block;

	font-size: 16px;
	text-align: center;

	p {
		padding: 10px;
	}
}

body > div {
	font-size: 16px;
}

ul {
	& > li {
		display: block;
		list-style: none;

		&:not(:first-child) {
			margin-top: 10px;
		}
	}
}

.material-icons {
	font-size: 1em;
	user-select: none;
}

._middle {
	& > * {
		vertical-align: middle;
	}

	& > .material-icons {
		&:after {
			content: '\00A0';
		}
	}
}

._tb {
	display: block;
}

.btn {
	--sub-font-size: .7em;

	$_btnBckgColor: #fff;

	display: inline-block;
	background-color: #fff;
	font-size: 1em;

	border: 0;
	padding: 10px;
	outline: 0;

	@include material-shadow;

	&:hover {
		background-color: darken($_btnBckgColor, 5%);
	}

	&:focus {
		background-color: darken($_btnBckgColor, 10%);
	}

	&:not(&--nfw) { // not full width
		display: block;
		width: 100%;
	}

	user-select: none;
	cursor: pointer;

	@include transition(.5s);

	&[data-selected] {
		background-color: darken($_btnBckgColor, 50%);
		color: #fff;
	}

	&__name {
		&--alt-names-list {
			font-size: var(--sub-font-size);

			li:before { content: 'aka ' }
		}
	}

	&__comp {
		&--edition {
			font-size: var(--sub-font-size);
		}
	}
}

.names, .comps-list, .comps {
	overflow-y: scroll;
}

.names, .comps-list {
	padding: 10px 10px 10px 15px;

	&::-webkit-scrollbar {
		width: 5px; height: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #000;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
	}
}

.names {
	background-color: $baseColor;
}

.comps-list {
	background-color: lighten($baseColor, 10%);
}

.comps {
	background-color: lighten($baseColor, 20%);
	padding: 10px;
}

.comp {
	font-size: 18px;
	line-height: 1.3em;

	&:not([data-selected]) {
		display: none;
	}

	// &:not(:first-child) {
	// 	padding-top: 15px;
	// 	margin-top: 15px;
	// 	border-top: 5px dashed #e6e6e6;
	// }

	&__header, &__games {
		background-color: #e6e6e6;
		padding: 10px;
	}

	&__header {
		&--title {
			text-align: center;

			cursor: default;

			& > * {
				vertical-align: middle;
			}

			a {
				display: inline-block;
				height: 1em;

				color: #535353;

				&:hover {
					color: #282828;
				}

				@include transition(.3s);
			}

			small {
				font-size: .6em;
				white-space: nowrap;
			}
		}

		&--note, &--ach, &--fund, &--dates {
			margin-top: 10px;
		}

		&--themes, &--ach ul {
			li {
				&:first-child {
					margin-top: 0;
				}

				p {
					&:first-child {
						font-weight: bold;
					}

					&:not(:first-child) {
						font-size: .9em
					}
				}
			}
		}

		&--themes {
			margin-top: 5px;

			li {
				p {
					&:first-child {
						font-size: 1.1em;
					}

					&:nth-child(2) {
						font-size: .9em;
					}
				}
			}
		}

		&--ach {
			summary:after {
				content: 'Открыть ачивки'
			}

			&[open] {
				summary:after {
					content: 'Скрыть ачивки'
				}
			}

			ul {
				margin-top: 10px;
				padding: 10px;
				border: 1px solid #ccc;

				li {
					background-color: #fff;
					padding: 10px;

					@include material-shadow;
				}
			}
		}
	}

	&__games {
		margin-top: 15px;
	}
}

._game {
	position: relative;
	background-color: #fff;
	padding: 10px;

	@include material-shadow;

	font-size: 0;

	&:not(:first-child) {
		margin-top: 10px;
	}

	& > * {
		display: inline-block;
		vertical-align: top;
	}

	$_imgWidth: 250px;

	&--no-image {
		& > *:first-child {
			width: 100%;
		}

		._game__info {
			padding: 0;
		}
	}

	&__image {
		width: $_imgWidth;
		height: 200px;

		img {
			width: 100%; height: 100%;
			object-fit: contain;

			&:not([src]) {
				visibility: hidden;
			}
		}
	}

	&__info {
		width: calc(100% - #{$_imgWidth});
		padding: 10px;
		font-size: 1rem;

		&--name {
			margin-bottom: 5px;
		}

		&--description {
			span {
				&:not(:first-child) {
					margin-top: 2.5px;
				}
			}
		}

		&--status {
			float: right;
			//position: absolute;
			//top: 10px; right: 10px;
			font-size: 1.5em;
		}

		&--links {
			margin-top: 10px;

			tr {
				td {
					&:first-child {
						padding: 2.5px 5px;
						text-align: right;
					}

					vertical-align: middle;

					ul {
						li {
							display: inline;
							margin-top: 0;

							&:not(:last-child):after {
								content: ' ';
							}
						}
					}
				}
			}
		}
	}
}

._status {
	.material-icons {
		@each $browser in '-webkit-', '-moz-', '' {
			#{$browser}text-stroke: .5px #333;
		}
	}

	&--win, &--1 {
		color: #ffff33;
	}

	&--2 {
		color: #ebebeb;
	}

	&--3 {
		color: #cd7f32;
	}

	&--demo {
		color: #fff;
	}

	&--disqualified {
		color: #ff0000;
	}
}

@media screen and (max-width: 992px) {
	body {
		grid-template: auto auto auto / auto;
	}

	.btn {
		padding: 5px 10px;

		&__name {
			&--alt-names-list {
				display: none;
			}
		}

		&__comp {
			& > * {
				display: inline-block;
				vertical-align: middle;
			}

			&--edition {
				margin-left: 5px;

				&:before { content: '(' }
				&:after { content: ')' }
			}
		}
	}

	$_blocksHeight: 70px;

	.names, .comps-list {
		overflow-y: hidden;
		overflow-x: auto;

		padding: 10px;

		& > ul {
			width: -moz-max-content;
			width: max-content;

			& > li {
				display: inline-block;
				margin: 0 5px;

				&:first-child { margin-left: 0 }
			}
		}
	}

	._game {
		& > * {
			display: block;
			width: 100%;
		}

		&__image {
			height: 250px;
		}

		&__info {
			margin-top: 5px;
		}
	}
}
