@import 'inc/vars';
@import 'inc/mixins';

* {
	box-sizing: border-box;
	padding: 0; margin: 0;
}

html, body {
	width: 100%; height: 100%;
}

body {
	display: grid;
	grid-template-columns: 225px 200px 1fr;

	overflow-x: hidden;

	font-family: Roboto, Arial, sans-serif;
	font-size: 0;
}

body > div {
	font-size: 16px;
}

ul {
	& > li {
		display: block;
		list-style: none;

		&:not(:first-child) {
			margin-top: 10px;
		}
	}
}

.material-icons {
	font-size: 1em;
}

.btn {
	--sub-font-size: .7em;

	display: inline-block;
	background-color: #ccc;
	font-size: 1em;

	&:not(&--nfw) { // not full width
		display: block;
		width: 100%;
	}

	padding: 5px;

	user-select: none;
	cursor: pointer;

	&__name {
		&--alt-names-list {
			font-size: var(--sub-font-size);

			li:before { content: 'aka ' }
		}
	}

	&__comp {
		&--edition {
			font-size: var(--sub-font-size);
		}
	}
}

.names, .comps-list, .comps {
	overflow-y: scroll;
}

.names, .comps-list {
	padding: 10px 10px 10px 15px;

	@each $browser in '', '-webkit-', '-moz-' {
		&::#{$browser}scrollbar {
			width: 5px;
		}

		&::#{$browser}scrollbar-thumb {
			background-color: #000;
		}

		&::#{$browser}scrollbar-track {
			box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
		}
	}
}

.names {
	background-color: $baseColor;
}

.comps-list {
	background-color: lighten($baseColor, 10%);
}

.comps {
	background-color: lighten($baseColor, 20%);
	padding: 5px;
}

.comp {
	font-size: 18px;
	line-height: 1.3em;
	padding: 5px;

	&:not(:first-child) {
		padding-top: 15px;
		margin-top: 15px;
		border-top: 5px dashed #e6e6e6;
	}

	&__header, &__games {
		background-color: #e6e6e6;
    padding: 10px;
	}

	&__header {
		&--title {
			text-align: center;

			cursor: default;

			& > * {
				vertical-align: middle;
			}

			a {
				display: inline-block;
				height: 1em;

				color: #535353;

				&:hover {
					color: #282828;
				}

				@include transition(.3s);
			}

			small {
				font-size: .6em;
				white-space: nowrap;
			}
		}

		&--note, &--ach, &--fund, &--dates {
			margin-top: 10px;
		}

		&--themes, &--ach ul {
			li {
				&:not(:first-child) {
					margin-top: 0;
				}

				p {
					&:first-child {
						font-weight: bold;

						& > * {
							vertical-align: middle;
						}
					}

					&:nth-child(2) {
						span {
							display: block;
							margin-top: 2.5px;
						}
					}
				}
			}
		}

		&--themes {
			margin-top: 5px;

			li {
				p {
					&:first-child {
						font-size: 1.1em;
					}

					&:nth-child(2) {
						font-size: .9em;
					}
				}
			}
		}

		&--ach {
			summary:after {
				content: 'Открыть ачивки'
			}

			&[open] {
				summary:after {
					content: 'Скрыть ачивки'
				}
			}

			ul {
				margin-top: 5px;
				padding: 5px;
				border: 1px solid #ccc;
			}
		}
	}

	&__games {
		margin-top: 10px;
	}
}

._game {
	background-color: #fff;
	padding: 10px;

	font-size: 0;

	&:not(:first-child) {
		margin-top: 10px;
	}

	& > * {
		display: inline-block;
		vertical-align: top;
	}

	$_imgWidth: 250px;

	&__image {
		width: $_imgWidth;
		height: 200px;

		img {
			width: 100%; height: 100%;
			object-fit: contain;

			&:not([src]) {
				visibility: hidden;
			}
		}
	}

	&__info {
		width: calc(100% - #{$_imgWidth});
		font-size: 1rem;
	}
}
