* {
	box-sizing: border-box;
}

html, body {
	width: 100%; height: 100%;
}

body {
	background-color: #333;
	font-family: Roboto, Arial, Verdana, Tahoma, sans-serif;
}

pre {
	display: inline;
	white-space: normal;
}

h1 {
	margin-top: 0;
}

.headline {
	text-align: center;
	margin: 0 0 10px;
}

.loading {
	text-align: center;
	font-size: 2em;
	color: #fff;
}

noscript {
	display: block;
}

noscript .loading {
	display: inherit !important;
}

.game-img {
	margin-bottom: 1em;
	width: 100%;
	display: inline-block;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
	vertical-align: top;
	cursor: pointer;
}

.game-header {
	display: inline;
}

.game-body {
	display: inline-block;
	width: 100%;
	padding-left: 0;
	vertical-align: top;
}

.game-body:nth-child(n+2) {
	padding-left: 1em;
}

.game-body .game-text {
	margin-top: .5em;
}

.game-text {
	word-break: break-word;
}

.game-achievements {
	padding: 1em;
	margin-bottom: 1em;
}

.fa-trophy {
	-webkit-text-stroke: .5px #333;
	-moz-text-stroke: .5px #333;
}

.getCompsList li .getCompBtn {
	text-align: center;
	padding: .5em 0;
	font-size: 1.2em;
	border-bottom: 1px solid #EEE;
}

.getCompsList  li:last-child .getCompBtn:last-child {
	border-bottom: 0;
}

.game-status-win,
.game-status-1 {
	color: #ffff33;
}

.game-status-2 {
	color: #ebebeb;
}

.game-status-3 {
	color: #cd7f32;
}

.game-status-final {} .game-status-demo {
	color: #fff;
}

.game-status-disqualified {
	color: red;
}

.download-icon {
	height: 1.5em;
	margin: 8px 0;
}

.fa.download-icon {
	height: 2em;
	margin: 4px 0;
}

.comp-games {
	padding: 1em;
	background: #e6e6e6;
}

.comp-header {
	background: #e6e6e6;
}

.comp-select-container{
	background: #e6e6e6;
}

.comp-number {
	color: #e6e6e6;
}

.comp-number:not(:first-child) {
	margin-top: 10px;
}

.fa {
	vertical-align: middle;
	user-select: none;
	cursor: default;
}

.fa:not(:empty)::before {
	margin-right: 5px;
}

.fa-space {
	margin-left: 10px;
}

.main-container {
	min-height: 100%;
	overflow-x: hidden;
	padding-bottom: 16px;
}

.comps-nav {
	max-width: 568px;
	margin: 0 auto;
	padding: 0;
	overflow-y: hidden;
}

.comps-nav-content {
	background: #e6e6e6;
}

.comps-nav ul {
	text-align: center;
	background: #e6e6e6;
	padding: 0 0 .2em;
	list-style: none;
}

.comps-nav ul:empty {
	display: none;
}

.comps-nav li {
	width: 100%;
	padding: .1em 0;
}

@media (min-width: 768px) {
	.game-img {
		width: 16em;
		margin: 0;
	}

	.game-body {
		width: calc(100% - 16em);
	}

	.main-container {
		margin-left: 200px;
	}

	.comps-nav {
		margin: 0;
		transform: translate(200px);
		position: fixed;
		padding: 0 15px;
		top: 0;	bottom: 0;
		width: 200px;
		left: -200px;
	}
}

.game-body-full {
	width: 100%;
}

.dl-link {
	padding: 0 2.7em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.8em;
}

.dl-link[href*='yadi.sk'] {
	background-image: url(https://disk.yandex.com/favicon.ico);
}

.dl-link[href*='docs.google.com'] {
	background-image: url(https://www.google.com/drive/static/images/drive/logo-drive.png);
}

.dl-link[href*='gamejolt.com'] {
	background-image: url(https://113217.selcdn.ru/gd/other/gamejolt-logo.png);
}
