each lib in [{ name: 'kamina-js', path: 'dist/kamina', v: '1.2.5' }, { name: 'vanilla-lazyload', path: '/dist/lazyload', v: '10.4.2' }]
	script(src=`https://cdn.jsdelivr.net/npm/${lib.name}@${lib.v}/${lib.path}.min.js` defer)
