each lib in [{ name: 'kamina-js', path: 'dist/kamina', v: '1.2.6', sha: 'sha256-q8DqoFoC4zJTDnx9kxcQTP6j/pbQPQ9cLvTbS5VSh5U==' }]
	script(src=`https://cdn.jsdelivr.net/npm/${lib.name}@${lib.v}/${lib.path}.min.js` integrity=`${lib.sha}` crossorigin='anonymous' defer)
